body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.8;
    color: #EBF2FA;
    padding-top: 0px !important;
  }

p {font-size: 16px;}
.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 0px;
  
}

.nav-title{
  margin-left: 15px;
  margin-right: 15px;
}
nav {
  height: 80px;
  background: #0D1B2A;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  padding: 0rem calc((100vw - 1300px) / 2);
} 

nav a {
  text-decoration: none;
  color: 0#EBF2FA;
  padding: 0 1.5 rem;
}

#rcorners2 {
  border-radius: 25px;
  border: 2px solid #fff;
  padding: 20px; 
  width: 200px;
  height: 150px; 
}



.navBar a:hover {
  background-color: #C33248;
}

.home-link {
  display: flex;
  align-items: left;
  /* Additional styling properties for the home link */
}

.home-link img {
  width: 24px; /* Adjust the width to match your icon size */
  height: 24px; /* Adjust the height to match your icon size */
  /* Additional styling properties for the home icon */

}

a:hover {
  color: #C33248;
}